on:
  - workflow_call

jobs:
  cache_dependencies:
    name: Cache dependencies
    uses: ./.github/workflows/dependency_cache.yml
    secrets: inherit

  build:
    name: Build
    runs-on: ubuntu-latest
    needs: cache_dependencies
    steps:
      - name: Checkout repository
        uses: actions/checkout@v6
      - name: Setup pnpm
        uses: pnpm/action-setup@v4
      - name: Setup Node.js
        uses: actions/setup-node@v6
        with:
          node-version: lts/*
      - name: Restore pnpm store
        uses: actions/cache@v5
        with:
          path: ${{ needs.cache_dependencies.outputs.pnpm-store-path }}
          key: ${{ runner.os }}-pnpm-store-${{ hashFiles('pnpm-lock.yaml') }}
          restore-keys: |
            ${{ runner.os }}-pnpm-store-
      - name: Restore dependencies
        run: pnpm install --frozen-lockfile
      - name: Build for production
        run: pnpm build
      - name: Upload artifacts
        uses: actions/upload-artifact@v5
        with:
          name: dist
          path: dist
          retention-days: 5

  lint:
    name: Lint
    runs-on: ubuntu-latest
    needs: cache_dependencies
    steps:
      - name: Checkout repository
        uses: actions/checkout@v6
      - name: Setup pnpm
        uses: pnpm/action-setup@v4
      - name: Setup Node.js
        uses: actions/setup-node@v6
        with:
          node-version: lts/*
      - name: Restore pnpm store
        uses: actions/cache@v5
        with:
          path: ${{ needs.cache_dependencies.outputs.pnpm-store-path }}
          key: ${{ runner.os }}-pnpm-store-${{ hashFiles('pnpm-lock.yaml') }}
          restore-keys: |
            ${{ runner.os }}-pnpm-store-
      - name: Restore dependencies
        run: pnpm install --frozen-lockfile
      - name: Run linter
        run: pnpm lint

  audit:
    name: Audit
    runs-on: ubuntu-latest
    needs: cache_dependencies
    steps:
      - name: Checkout repository
        uses: actions/checkout@v6
      - name: Setup pnpm
        uses: pnpm/action-setup@v4
      - name: Setup Node.js
        uses: actions/setup-node@v6
        with:
          node-version: lts/*
      - name: Restore pnpm store
        uses: actions/cache@v5
        with:
          path: ${{ needs.cache_dependencies.outputs.pnpm-store-path }}
          key: ${{ runner.os }}-pnpm-store-${{ hashFiles('pnpm-lock.yaml') }}
          restore-keys: |
            ${{ runner.os }}-pnpm-store-
      - name: Restore dependencies
        run: pnpm install --frozen-lockfile
      - name: Run audit
        run: pnpm audit --prod

  test:
    name: Test
    runs-on: ubuntu-latest
    needs: cache_dependencies
    steps:
      - name: Checkout repository
        uses: actions/checkout@v6
      - name: Setup pnpm
        uses: pnpm/action-setup@v4
      - name: Setup Node.js
        uses: actions/setup-node@v6
        with:
          node-version: lts/*
      - name: Restore pnpm store
        uses: actions/cache@v5
        with:
          path: ${{ needs.cache_dependencies.outputs.pnpm-store-path }}
          key: ${{ runner.os }}-pnpm-store-${{ hashFiles('pnpm-lock.yaml') }}
          restore-keys: |
            ${{ runner.os }}-pnpm-store-
      - name: Restore dependencies
        run: pnpm install --frozen-lockfile
      - name: Build for test
        run: pnpm build:test
      - name: Run unit test (ESM)
        run: pnpm test:esm
      - name: Run unit test (CJS)
        run: npx c8 pnpm test:cjs
      - name: Upload coverage reports to Codecov
        uses: codecov/codecov-action@v5
        with:
          token: ${{ secrets.CODECOV_TOKEN }}
          slug: pgerke/freeathome-local-api-client
      - name: Extract version
        id: version-extraction
        run: echo "APP_VERSION=$(jq -r .version package.json)" >> "$GITHUB_OUTPUT"
      - name: SonarQube Scan
        uses: sonarsource/sonarqube-scan-action@master
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }} # Needed to get PR information, if any
          SONAR_TOKEN: ${{ secrets.SONAR_TOKEN }}
        with:
          args: >
            -Dsonar.projectVersion=${{ steps.version-extraction.outputs.APP_VERSION }}

  gitleaks:
    name: Check for Secrets
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v6
        with:
          fetch-depth: 0
      - name: Run Gitleaks Check
        uses: gitleaks/gitleaks-action@v2
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
